html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: PFBEAUSANSPRO-THINITAL-webfont; src: url("fonts/PFBEAUSANSPRO-THINITAL-webfont.eot"); src: url("fonts/PFBEAUSANSPRO-THINITAL-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/PFBEAUSANSPRO-THINITAL-webfont.woff2") format("woff2"), url("fonts/PFBEAUSANSPRO-THINITAL-webfont.woff") format("woff"), url("fonts/PFBEAUSANSPRO-THINITAL-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: Lato-Light; src: url("fonts/Lato-Light.eot"); src: url("fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Lato-Light.woff2") format("woff2"), url("fonts/Lato-Light.woff") format("woff"), url("fonts/Lato-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: "Open Sans", Arial, sans-serif; font-size: 16px; line-height: 1.4; background-color: #f9f7f7; }

a { text-decoration: none; }

.out { position: relative; width: 1230px; margin: 0 auto; z-index: 2; *zoom: 1; }
.out:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 768px) { .out { width: 680px; } }
@media only screen and (max-width: 320px) { .out { width: 265px; } }

.header { position: relative; background-color: white; z-index: 9999; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }

.header__white { float: left; width: 920px; height: 100%; padding: 25px 0 31px; background-color: white; *zoom: 1; }
@media only screen and (max-width: 768px) { .header__white { width: 347px; padding: 15px 0; } }
@media only screen and (max-width: 320px) { .header__white { width: 280px; padding-right: 0px; } }
.header__white:after { content: " "; display: table; clear: both; }

.bottom_320 { bottom: 0; }
@media only screen and (max-width: 320px) { .bottom_320 { position: relative; bottom: -65px; } }

.logo { display: block; float: left; background: url('../img/icons-s565ee288f2.png') 0 -954px no-repeat; width: 192px; height: 45px; background: url('../img/icons-s565ee288f2.png') 0 -1051px no-repeat; background-position: 0 -526px; width: 139px; height: 32px; -moz-background-size: 139px, 761px; -o-background-size: 139px, 761px; -webkit-background-size: 139px, 761px; background-size: 139px, 761px; }
@media only screen and (max-width: 320px) { .logo { background: url('../img/icons-s565ee288f2.png') 0 -1009px no-repeat; width: 137px; height: 32px; } }

.hidetext { font: 0/0 a; text-shadow: none; color: transparent; }

.menu { margin: 2px 0 0 300px; font-size: 0; }
@media only screen and (max-width: 768px) { .menu { display: none; } }
.menu li { position: relative; display: inline-block; height: 37px; }
.menu li:hover .submenu { display: block; }
.menu__link { display: inline-block; position: relative; font-size: 14px; color: #1d1d1d; padding: 10px 8px; text-transform: uppercase; border: 1px solid transparent; font-family: "Lato-Light", Arial, sans-serif; font-weight: 800; }
.menu__link:hover:before { content: ""; border: 1px solid #ccc5c5; border-radius: 4px; -webkit-transform: skew(-20deg); -moz-transform: skew(-20deg); -o-transform: skew(-20deg); position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.has__sub { position: relative; }
.has__sub:after { content: ""; position: absolute; bottom: 5px; right: 30px; width: 0px; height: 0px; border-style: solid; border-width: 5px 5px 0 5px; border-color: white transparent transparent transparent; z-index: 9999; }

.submenu { display: none; position: absolute; top: 30px; left: -30px; background-color: #898282; padding: 20px 25px; z-index: 999; }
.submenu li { width: 200px; height: auto; border-bottom: 1px solid #9b9595; }
.submenu li:last-child { border-bottom: 1px solid transparent; }
.submenu .submenu__link { display: block; color: white; padding-left: 5px; font-size: 16px; line-height: 35px; font-size: 14px; font-family: "Lato-Light", Arial, sans-serif; font-weight: 400; }
.submenu .submenu__link:hover { background-color: #807979; }
.submenu .submenu__link:active { background-color: #544c4c; }

.nav { display: none; position: relative; width: 100px; height: 0; float: right; margin-top: 35px; }
@media only screen and (max-width: 768px) { .nav { display: block; margin-right: 5px; } }
.nav > span { position: absolute; top: -25px; right: 25px; font-size: 16px; font-family: "Lato-Light", Arial, sans-serif; font-weight: 400; }
@media only screen and (max-width: 320px) { .nav > span { top: -33px; } }

nav { float: right; position: relative; -webkit-transition: all 0.5s ease; }
nav:after { content: ""; position: absolute; bottom: -21px; right: 72px; width: 0px; height: 0px; border-style: solid; border-width: 6px 5px 0 5px; border-color: white transparent transparent transparent; }
@media only screen and (max-width: 320px) { nav:after { bottom: 4px; } }
.open nav { opacity: 0; }
.close nav { display: block; opacity: 1; -webkit-transform: translateX(-20px); }
@media screen and (max-width: 320px) { .close nav { -webkit-transform: translateY(20px); height: auto; } }
nav ul { position: absolute; background-color: #898282; right: 0; top: 15px; height: 145px; width: 200px; padding: 25px 25px 20px; list-style: none; }
@media only screen and (max-width: 320px) { nav ul { top: -10px; right: 25px; } }
nav ul li { display: block; }
nav ul a { display: block; color: white; font-size: 16px; padding: 5px 3px; font-family: "Lato-Light", Arial, sans-serif; font-weight: 400; }
nav ul a:hover { background-color: #544c4c; }
@media screen and (max-width: 320px) { nav ul a { display: block; font-size: 16px; z-index: 9999; } }

.bt-nav { position: absolute; left: -10px; top: -30px; width: 95px; height: 36px; cursor: pointer; z-index: 99999; }
@media only screen and (max-width: 320px) { .bt-nav { top: -40px; } }
.open .bt-nav .line1 { top: 15px; }
.open .bt-nav .line3 { top: 23px; }
.close .bt-nav .line { top: 17px; }
.close .bt-nav .line1 { -webkit-transform: rotateZ(45deg); }
.close .bt-nav .line2 { opacity: 0; }
.close .bt-nav .line3 { -webkit-transform: rotateZ(-45deg); }
.bt-nav .line { position: absolute; top: 7px; left: 16%; width: 24px; margin-left: -15px; height: 3px; background: black; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }

.header__gray { float: right; width: 310px; height: 25px; padding: 40px 0 30px; background-color: #898282; *zoom: 1; }
@media only screen and (max-width: 768px) { .header__gray { width: 330px; padding: 25px 0 25px; } }
@media only screen and (max-width: 320px) { .header__gray { padding: 36px 0 13px; } }
.header__gray:after { content: " "; display: table; clear: both; }

.top_320 { top: 0; }
@media only screen and (max-width: 320px) { .top_320 { display: block; position: relative; top: -86px; } }

.tel { position: relative; float: left; color: white; margin-left: 65px; font-size: 14px; line-height: 25px; font-family: "Lato-Light", Arial, sans-serif; font-weight: 800; }
@media only screen and (max-width: 320px) { .tel { margin-left: 80px; } }
.tel:before { content: ""; position: absolute; top: 4px; left: -25px; background: url('../img/icons-s565ee288f2.png') 0 -1169px no-repeat; width: 15px; height: 15px; background: url('../img/icons-s565ee288f2.png') 0 -1194px no-repeat; background-position: 0 -597px; width: 15px; height: 15px; -moz-background-size: 139px, 761px; -o-background-size: 139px, 761px; -webkit-background-size: 139px, 761px; background-size: 139px, 761px; }

.lang { float: right; *zoom: 1; }
@media only screen and (max-width: 768px) { .lang { margin-right: 20px; } }
@media only screen and (max-width: 320px) { .lang { margin-right: 5px; } }
.lang:after { content: " "; display: table; clear: both; }
.lang li { display: inline-block; margin-right: 10px; }
.lang li:last-child { margin-right: 0; }
.lang li .is-active { color: #d1cdcd; }
.lang li .is-active:hover { border-bottom: 1px solid transparent; font-weight: normal; }
.lang a { color: white; font-size: 14px; line-height: 25px; font-family: "Lato-Light", Arial, sans-serif; font-weight: 400; }
.lang a:hover { border-bottom: 2px solid white; }
.lang a:active { color: #d1cdcd; border-bottom: 1px solid #d1cdcd; }

.gray__bg { position: absolute; right: 0; top: 0; width: 50%; height: 100%; background-color: #898282; z-index: 1; }
@media only screen and (max-width: 320px) { .gray__bg { height: 53px; } }

.footer { *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }

.footer__top { background-color: white; height: 100px; *zoom: 1; }
.footer__top:after { content: " "; display: table; clear: both; }

.social { float: left; margin: 43px 0 0 43px; *zoom: 1; }
@media only screen and (max-width: 768px) { .social { margin: 52px 0 0 30px; } }
@media only screen and (max-width: 320px) { .social { margin: 65px 0 0 58px; } }
.social a { float: left; width: 15px; height: 15px; position: relative; display: block; padding: 5px; margin-right: 18px; }
@media only screen and (max-width: 768px) { .social a { margin-right: 25px; } }
.social a:after { content: ""; position: absolute; left: 10px; }
.social:after { content: " "; display: table; clear: both; }

.soc_f:after { top: 5px; background: url('../img/icons-s565ee288f2.png') 0 -751px no-repeat; width: 8px; height: 12px; background: url('../img/icons-s565ee288f2.png') 0 -881px no-repeat; background-position: 0 -441px; width: 7px; height: 11px; -moz-background-size: 139px, 761px; -o-background-size: 139px, 761px; -webkit-background-size: 139px, 761px; background-size: 139px, 761px; }
.soc_f:hover:after { background: url('../img/icons-s565ee288f2.png') 0 -827px no-repeat; width: 8px; height: 12px; background: url('../img/icons-s565ee288f2.png') 0 -849px no-repeat; background-position: 0 -425px; width: 7px; height: 11px; -moz-background-size: 139px, 761px; -o-background-size: 139px, 761px; -webkit-background-size: 139px, 761px; background-size: 139px, 761px; }
.soc_f:active:after { background: url('../img/icons-s565ee288f2.png') 0 -773px no-repeat; width: 8px; height: 12px; background: url('../img/icons-s565ee288f2.png') 0 -795px no-repeat; background-position: 0 -398px; width: 7px; height: 11px; -moz-background-size: 139px, 761px; -o-background-size: 139px, 761px; -webkit-background-size: 139px, 761px; background-size: 139px, 761px; }

.soc_vk:after { top: 6px; background: url('../img/icons-s565ee288f2.png') 0 -1375px no-repeat; width: 9px; height: 11px; background: url('../img/icons-s565ee288f2.png') 0 -1500px no-repeat; background-position: 0 -750px; width: 8.5px; height: 10.5px; -moz-background-size: 139px, 761px; -o-background-size: 139px, 761px; -webkit-background-size: 139px, 761px; background-size: 139px, 761px; }
.soc_vk:hover:after { background: url('../img/icons-s565ee288f2.png') 0 -1448px no-repeat; width: 9px; height: 11px; background: url('../img/icons-s565ee288f2.png') 0 -1469px no-repeat; background-position: 0 -735px; width: 8.5px; height: 10.5px; -moz-background-size: 139px, 761px; -o-background-size: 139px, 761px; -webkit-background-size: 139px, 761px; background-size: 139px, 761px; }
.soc_vk:active:after { background: url('../img/icons-s565ee288f2.png') 0 -1396px no-repeat; width: 9px; height: 11px; background: url('../img/icons-s565ee288f2.png') 0 -1417px no-repeat; background-position: 0 -709px; width: 8.5px; height: 10.5px; -moz-background-size: 139px, 761px; -o-background-size: 139px, 761px; -webkit-background-size: 139px, 761px; background-size: 139px, 761px; }

.soc_tw:after { top: 7px; background: url('../img/icons-s565ee288f2.png') 0 -1234px no-repeat; width: 14px; height: 9px; background: url('../img/icons-s565ee288f2.png') 0 -1347px no-repeat; background-position: 0 -674px; width: 13px; height: 9px; -moz-background-size: 139px, 761px; -o-background-size: 139px, 761px; -webkit-background-size: 139px, 761px; background-size: 139px, 761px; }
.soc_tw:hover:after { background: url('../img/icons-s565ee288f2.png') 0 -1300px no-repeat; width: 14px; height: 9px; background: url('../img/icons-s565ee288f2.png') 0 -1319px no-repeat; background-position: 0 -660px; width: 13px; height: 9px; -moz-background-size: 139px, 761px; -o-background-size: 139px, 761px; -webkit-background-size: 139px, 761px; background-size: 139px, 761px; }
.soc_tw:active:after { background: url('../img/icons-s565ee288f2.png') 0 -1253px no-repeat; width: 14px; height: 9px; background: url('../img/icons-s565ee288f2.png') 0 -1272px no-repeat; background-position: 0 -636px; width: 13px; height: 9px; -moz-background-size: 139px, 761px; -o-background-size: 139px, 761px; -webkit-background-size: 139px, 761px; background-size: 139px, 761px; }

.footer__menu { float: right; display: block; margin: 37px 40px 0 10px; *zoom: 1; }
@media only screen and (max-width: 768px) { .footer__menu { margin-top: 45px; } }
@media only screen and (max-width: 320px) { .footer__menu { display: none; } }
.footer__menu a { font-size: 12px; padding: 10px 11px; }
@media only screen and (max-width: 768px) { .footer__menu a { padding: 10px 6px; } }
.footer__menu li:hover .submenu { display: none; }
.footer__menu:after { content: " "; display: table; clear: both; }

@media only screen and (max-width: 320px) { .footer nav:after { display: none; } }

.footer__nav { display: none; }
@media only screen and (max-width: 320px) { .footer__nav:after { content: ""; position: absolute; bottom: 65px; right: 72px; width: 0px; height: 0px; border-style: solid; border-width: 0 5px 6px 5px; border-color: transparent transparent white transparent; }
  .footer__nav .footer__menu_min { top: -275px; right: 0; }
  .footer__nav .bt-nav { top: -68px; left: 40px; width: 24px; }
  .footer__nav .bt-nav .line { left: 65%; } }

.footer__bottom { height: 130px; *zoom: 1; }
.footer__bottom .out { z-index: 0; }
.footer__bottom p { color: #a09998; font-size: 12px; }
.footer__bottom:after { content: " "; display: table; clear: both; }

.copy { float: left; width: 50%; margin-top: 52px; }
.copy p { float: left; margin-right: 5px; }

.made { float: right; color: #a09998; font-size: 12px; line-height: 20px; margin-top: 52px; }
@media only screen and (max-width: 320px) { .made { float: left; margin-top: 10px; } }
.made:hover { color: #970002; }
.made:active { color: #770002; }

.slider { position: relative; margin: 0 0 72px; float: left; min-width: 100%; height: 545px; *zoom: 1; }
@media only screen and (max-width: 768px) { .slider { height: 460px; margin-bottom: 55px; } }
@media only screen and (max-width: 320px) { .slider { margin-bottom: 30px; } }
.slider:after { content: " "; display: table; clear: both; }

.slider .cycle-slideshow { height: 540px; overflow: hidden; }
@media only screen and (max-width: 768px) { .slider .cycle-slideshow { height: 460px; } }

.big-slider__item { position: static; top: 0; left: 0; width: 100%; z-index: 100; opacity: 1; visibility: hidden; display: block; height: 540px; }

.big-slider__img { position: absolute; width: 2000px; left: 50%; margin-left: -1000px; max-height: 540px; text-align: center; height: 540px; }
.big-slider__img img { height: 540px; width: 100%; }

.slider .nav { position: absolute; display: block; width: 300px; bottom: 40px; left: 50%; text-align: center; margin-left: -150px; z-index: 999; *zoom: 1; }
.slider .nav button { width: 12px; height: 12px; border-radius: 50%; background-color: white; opacity: 0.8; margin-left: 15px; }
.slider .nav button:hover { -ms-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); }
.slider .nav .is-active { width: 14px; height: 14px; background-color: transparent; border: 1px solid #8b8282; }
.slider .nav .is-active:hover { -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }
.slider .nav:after { content: " "; display: table; clear: both; }

.slider__title { font-size: 101px; color: white; margin: 90px 0 50px; }
@media only screen and (max-width: 768px) { .slider__title { font-size: 78px; } }
@media only screen and (max-width: 320px) { .slider__title { font-size: 30px; } }

.slider__content { position: relative; display: inline-block; color: white; margin-bottom: 6px; line-height: 33px; padding: 0 5px; background-color: #aa0002; font-size: 24px; font-family: "PFBEAUSANSPRO-THINITAL-webfont", sans-serif; font-style: italic; font-weight: 300; }
@media only screen and (max-width: 320px) { .slider__content { font-size: 18px; } }
.slider__content:after { content: ""; position: absolute; right: -8px; top: 0; bottom: 0; width: 0; height: 0; border-style: solid; border-width: 32px 8px 0 0; border-color: #aa0002 transparent transparent transparent; }

.service { margin-bottom: 70px; *zoom: 1; }
@media only screen and (max-width: 768px) { .service { margin-bottom: 40px; } }
.service:after { content: " "; display: table; clear: both; }

.good { display: block; width: 50%; float: left; position: relative; max-height: 275px; background-color: white; overflow: hidden; *zoom: 1; }
@media only screen and (max-width: 768px) { .good { width: 100%; } }
.good:after { content: " "; display: table; clear: both; }
.good:hover .good__item { -webkit-transform: scale(-1) rotate(180deg); -moz-transform: scale(-1) rotate(180deg); -o-transform: scale(-1) rotate(180deg); -ms-transform: scale(-1) rotate(180deg); transform: scale(-1) rotate(180deg); opacity: 0; -webkit-transition: all 0.4s ease-in; -moz-transition: all 0.4s ease-in; -o-transition: all 0.4s ease-in; -ms-transition: all 0.4s ease-in; transition: all 0.4s ease-in; }
@media only screen and (max-width: 320px) { .good:hover .good__item { opacity: 1; -webkit-transform: scale(1) rotate(0deg); -moz-transform: scale(1) rotate(0deg); -o-transform: scale(1) rotate(0deg); -ms-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg); } }
.good:hover .mask { opacity: 1; -webkit-transform: scale(-1) rotate(-180deg); -moz-transform: scale(-1) rotate(-180deg); -o-transform: scale(-1) rotate(-180deg); -ms-transform: scale(-1) rotate(-180deg); transform: scale(-1) rotate(-180deg); -webkit-transition: all 0.4s ease-in; -moz-transition: all 0.4s ease-in; -o-transition: all 0.4s ease-in; -ms-transition: all 0.4s ease-in; transition: all 0.4s ease-in; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
@media only screen and (max-width: 320px) { .good:hover .mask { display: none; } }
.good:hover .good__img:after { -webkit-transition: all 0.6s ease-in; -moz-transition: all 0.6s ease-in; -o-transition: all 0.6s ease-in; -ms-transition: all 0.6s ease-in; transition: all 0.6s ease-in; width: 0px; height: 0px; border-style: solid; border-width: 8px 8px 8px 0; border-color: transparent #aa0002 transparent transparent; }
@media only screen and (max-width: 320px) { .good:hover .good__img:after { display: none; } }
.good:hover .mask + .good__img:after { -webkit-transition: all 0.6s ease-in; -moz-transition: all 0.6s ease-in; -o-transition: all 0.6s ease-in; -ms-transition: all 0.6s ease-in; transition: all 0.6s ease-in; width: 0px; height: 0px; border-style: solid; border-width: 8px 0 8px 8px; border-color: transparent transparent transparent #aa0002; }
@media only screen and (max-width: 320px) { .good:hover .mask + .good__img:after { display: none; } }
@media only screen and (max-width: 320px) { .good:active h3 { background-color: #d6d3d3; -webkit-transition: all 0s ease-in; -moz-transition: all 0s ease-in; -o-transition: all 0s ease-in; -ms-transition: all 0s ease-in; transition: all 0s ease-in; } }

@media only screen and (max-width: 768px) { .top__cut { top: 275px; }
  .top__cut:after { display: none; } }
@media only screen and (max-width: 320px) { .top__cut { top: 0; }
  .top__cut:after { display: none; } }
.top__cut:after { content: ""; position: absolute; top: 0; right: 0; width: 0; height: 0; border-style: solid; border-width: 0 61px 72px 0; border-color: transparent #f9f7f7 transparent transparent; }

.top__cut_small:after { display: none; }
@media only screen and (max-width: 768px) { .top__cut_small:after { content: ""; display: block; position: absolute; top: 0; right: 0; width: 0; height: 0; border-style: solid; border-width: 0 61px 72px 0; border-color: transparent #f9f7f7 transparent transparent; } }
@media only screen and (max-width: 320px) { .top__cut_small:after { display: none; } }

@media only screen and (max-width: 768px) { .bottom__cut { top: -275px; }
  .bottom__cut:after { display: none; } }
@media only screen and (max-width: 320px) { .bottom__cut { top: 0; }
  .bottom__cut:after { display: none; } }
.bottom__cut:after { content: ""; position: absolute; bottom: 0; left: 0; width: 0; height: 0; border-style: solid; border-width: 72px 0 0 61px; border-color: transparent transparent transparent #f9f7f7; }

.bottom__cut_small:after { display: none; }
@media only screen and (max-width: 768px) { .bottom__cut_small:after { content: ""; display: block; position: absolute; bottom: 0; left: 0; width: 0; height: 0; border-style: solid; border-width: 72px 0 0 61px; border-color: transparent transparent transparent #f9f7f7; } }
@media only screen and (max-width: 320px) { .bottom__cut_small:after { display: none; } }

.good__img { position: relative; float: left; height: 275px; max-width: 307px; }
@media only screen and (max-width: 768px) { .good__img { max-width: 50%; width: 343px; } }
@media only screen and (max-width: 320px) { .good__img { display: none; } }
.good__img img { height: 275px; }
@media only screen and (max-width: 768px) { .good__img img { width: 343px; } }
.good__img:after { content: ""; position: absolute; top: 45px; right: 0px; width: 0px; height: 0px; border-style: solid; border-width: 8px 8px 8px 0; border-color: transparent white transparent transparent; }

.good__item { display: block; float: left; width: 50%; position: relative; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; vertical-align: top; height: 275px; background-color: white; *zoom: 1; }
.good__item a { display: block; }
@media only screen and (max-width: 320px) { .good__item { width: 100%; height: 108px; border-bottom: 1px solid #f9f7f7; } }
.good__item:after { content: " "; display: table; clear: both; }

.good__item_title { color: #aa0002; margin: 40px 60px 20px 40px; font-size: 16px; line-height: 24px; text-transform: uppercase; -webkit-transition: all 0.4s ease-in-out 0.2s; -moz-transition: all 0.4s ease-in-out 0.2s; -o-transition: all 0.4s ease-in-out 0.2s; -ms-transition: all 0.4s ease-in-out 0.2s; transition: all 0.4s ease-in-out 0.2s; opacity: 1; font-family: "Lato-Light", Arial, sans-serif; font-weight: 800; }
@media only screen and (max-width: 320px) { .good__item_title { margin: 30px 20px 0 30px; line-height: 27px; } }

.good__item_content { font-size: 16px; line-height: 24px; color: #8b8282; margin: 0 42px; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; font-family: "Open Sans", Arial, sans-serif; font-weight: 400; }
@media only screen and (max-width: 320px) { .good__item_content { display: none; } }

.good__more { position: absolute; bottom: 24px; right: 22px; width: 45px; height: 45px; border-radius: 50%; background-color: #f1efef; }
@media only screen and (max-width: 320px) { .good__more { display: none; } }
.good__more:after { content: ""; position: absolute; top: 50%; left: 50%; margin: -3px 0 0 -3px; background: url('../img/icons-s565ee288f2.png') 0 0 no-repeat; width: 6px; height: 7px; }

.mask { position: absolute; top: 0; left: 50%; width: 50%; height: 100%; overflow: hidden; background-color: #aa0002; color: white; opacity: 0; }
@media only screen and (max-width: 320px) { .mask { display: none; } }
.mask p { margin: 39px; font-size: 14px; font-family: "Open Sans", Arial, sans-serif; font-weight: 300; }

.btn { background-color: #aa0002; border: 1px solid #bb6a70; margin-left: 40px; padding: 15px 20px; color: white; text-transform: uppercase; font-size: 12px; font-family: "Lato-Light", Arial, sans-serif; font-weight: 800; }
.btn:hover { background-color: white; color: red; }
.btn:active { background-color: #ecd8d8; }

.mask + .good__img:after { content: ""; position: absolute; top: 45px; left: 0px; width: 0px; height: 0px; border-style: solid; border-width: 8px 0 8px 8px; border-color: transparent transparent transparent white; }

.partner { margin-bottom: 60px; }

.partner__item { width: 615px; height: 440px; float: left; background-color: white; overflow: hidden; *zoom: 1; }
@media only screen and (max-width: 768px) { .partner__item { width: 680px; } }
@media only screen and (max-width: 320px) { .partner__item { width: 265px; } }
.partner__item .btn { position: relative; float: right; background-color: white; font-size: 11px; color: #191919; border: 1px solid #e9e5e4; padding-left: 40px; margin-right: 100px; font-family: "Lato-Light", Arial, sans-serif; font-weight: 800; }
@media only screen and (max-width: 768px) { .partner__item .btn { margin-right: 127px; } }
@media only screen and (max-width: 320px) { .partner__item .btn { width: 200px; margin-left: 30px; float: none; } }
.partner__item .btn:after { content: ""; position: absolute; top: 18px; left: 20px; background: url('../img/icons-s565ee288f2.png') 0 -1125px no-repeat; width: 9px; height: 8px; background: url('../img/icons-s565ee288f2.png') 0 -1143px no-repeat; background-position: 0 -572px; width: 8px; height: 8px; -moz-background-size: 139px, 761px; -o-background-size: 139px, 761px; -webkit-background-size: 139px, 761px; background-size: 139px, 761px; }
.partner__item .btn:hover { background-color: #f9f7f7; border-color: #dbd7d6; }
.partner__item .btn:active { background-color: #f1efef; border-color: #dbd7d6; }
.partner__item:after { content: " "; display: table; clear: both; }

@media only screen and (max-width: 768px) { .partner__item + .partner__item { margin-top: 35px; } }

.partner__item_wrap { margin-bottom: 17px; *zoom: 1; }
@media only screen and (max-width: 768px) { .partner__item_wrap { margin-bottom: 0; } }
.partner__item_wrap:after { content: " "; display: table; clear: both; }

.partner__col { width: 230px; float: left; margin: 45px 50px 0 15px; }
@media only screen and (max-width: 320px) { .partner__col { margin: 40px 20px 40px 20px; }
  .partner__col:last-child { display: none; } }
.partner__col:first-child { margin-left: 40px; }
@media only screen and (max-width: 320px) { .partner__col:first-child { margin-left: 20px; } }
.partner__col p { font-size: 16px; line-height: 24px; color: #8b8282; font-family: "Open Sans", Arial, sans-serif; font-weight: 400; }
@media only screen and (max-width: 768px) { .partner__col p { line-height: 23px; } }

.partner__title { font-size: 26px; line-height: 34px; margin-bottom: 30px; color: #191919; font-family: "Lato-Light", Arial, sans-serif; font-weight: 300; }

.partner__item_img { float: left; position: relative; height: 440px; width: 307px; overflow: hidden; }
@media only screen and (max-width: 768px) { .partner__item_img { width: 50%; } }
@media only screen and (max-width: 320px) { .partner__item_img { display: none; } }
.partner__item_img img { height: 440px; width: 100%; }
.partner__item_img:hover .partner__container { background-color: #aa0002; }
.partner__item_img:hover .partner__container:before { border-color: transparent transparent #aa0002 transparent; }
.partner__item_img:active .partner__container { background-color: #8f0002; }
.partner__item_img:active .partner__container:before { border-color: transparent transparent #8f0002 transparent; }

.partner__container { position: absolute; bottom: 30px; left: 32px; width: 213px; height: 70px; padding: 0px 0px 25px 30px; color: white; background-color: rgba(169, 0, 1, 0.71); }
.partner__container p { margin-right: 30px; font-size: 25px; line-height: 37px; font-family: "Lato-Light", Arial, sans-serif; font-weight: 300; }
.partner__container:before { content: ""; position: absolute; top: -58px; right: 0px; width: 185px; height: 0px; border-style: solid; border-width: 0px 58px 58px 0px; border-color: transparent transparent rgba(169, 0, 1, 0.71) transparent; }
.partner__container:after { content: ""; position: absolute; top: -21px; left: 34px; width: 15px; height: 1px; background: white; }

.award { width: 50%; height: 440px; float: right; background-color: #f1efef; *zoom: 1; }
.award:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 320px) { .award { width: 100%; } }
.award__title { font-size: 28px; font-family: "Lato-Light", Arial, sans-serif; font-weight: 300; }
.award__cup { width: 100%; float: left; height: 165px; text-align: center; *zoom: 1; }
.award__cup:after { content: " "; display: table; clear: both; }
.award__cup img { margin: 45px 0 10px; }
.award__wrap { width: 100%; float: right; background-color: #f1efef; *zoom: 1; }
.award__wrap:after { content: " "; display: table; clear: both; }
.award__wrap_link { position: relative; float: left; width: 153px; height: 142px; text-align: center; background-color: white; border-bottom: 1px solid #e0e5e9; border-right: 1px solid #e0e5e9; margin-left: -1px; }
@media only screen and (max-width: 768px) { .award__wrap_link { width: 169px; } }
@media only screen and (max-width: 320px) { .award__wrap_link { width: 132px; } }
.award__wrap_link:nth-child(even) { margin-left: 0; border-right: 1px solid white; }
.award__wrap_link img { position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.coin { position: relative; height: 129px; }
.coin:before { content: ""; position: absolute; top: 30px; right: 0; background: url('../img/icons-s565ee288f2.png') 0 -63px no-repeat; width: 106px; height: 102px; background: url('../img/icons-s565ee288f2.png') 0 -175px no-repeat; background-position: 0 -88px; width: 91px; height: 102px; -moz-background-size: 139px, 761px; -o-background-size: 139px, 761px; -webkit-background-size: 139px, 761px; background-size: 139px, 761px; }

.diploma { position: relative; height: 145px; }
.diploma:before { content: ""; position: absolute; top: 30px; right: 0; background: url('../img/icons-s565ee288f2.png') 0 -389px no-repeat; width: 107px; height: 114px; background: url('../img/icons-s565ee288f2.png') 0 -513px no-repeat; background-position: 0 -257px; width: 102px; height: 114px; -moz-background-size: 139px, 761px; -o-background-size: 139px, 761px; -webkit-background-size: 139px, 761px; background-size: 139px, 761px; }

.client { width: 500px; float: left; font-size: 28px; line-height: 28px; font-family: "Lato-Light", Arial, sans-serif; font-weight: 300; }
@media only screen and (max-width: 320px) { .client { width: 280px; margin-bottom: 30px; } }

#pager { float: right; width: 80px; margin: 0 -9px 30px 0; }
@media only screen and (max-width: 320px) { #pager { display: none; } }
#pager a { display: inline-block; position: relative; background-color: white; width: 30px; height: 30px; border-radius: 50%; border: 1px solid #ded8d7; }
#pager a:before { content: ""; position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#pager a:hover { background-color: #aa0002; }
#pager a:active { background-color: #9b0002; }

.page__back:before { background: url('../img/icons-s565ee288f2.png') 0 -32px no-repeat; width: 6px; height: 6px; }
.page__back:hover:before { background: url('../img/icons-s565ee288f2.png') 0 -48px no-repeat; width: 6px; height: 5px; }
.page__back:active:before { background: url('../img/icons-s565ee288f2.png') 0 -48px no-repeat; width: 6px; height: 5px; }

.page__next:before { background: url('../img/icons-s565ee288f2.png') 0 0 no-repeat; width: 6px; height: 7px; }
.page__next:hover:before { background: url('../img/icons-s565ee288f2.png') 0 -17px no-repeat; width: 5px; height: 5px; }
.page__next:active:before { background: url('../img/icons-s565ee288f2.png') 0 -17px no-repeat; width: 5px; height: 5px; }

.cycle-slideshow { background-color: white; margin-bottom: 60px; }
@media only screen and (max-width: 320px) { .cycle-slideshow { margin-bottom: 40px; } }
.cycle-slideshow .client__slide { position: relative; display: inline-block; vertical-align: top; width: 153px; background-color: white; border-right: 1px solid #eeeeee; }
.cycle-slideshow .client__slide a { display: block; height: 136px; }
.cycle-slideshow .client__slide a img { position: relative; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.map { position: relative; height: 439px; margin-bottom: 40px; }
.map:after { content: ""; position: absolute; bottom: 0; right: 0; width: 0; height: 0; border-style: solid; border-width: 0 0 73px 77px; border-color: transparent transparent white transparent; }
@media only screen and (max-width: 320px) { .map:after { display: none; } }
.map img { height: 439px; width: 100%; max-width: 100%; }
.map button { width: 155px; height: 41px; padding: 0; margin-left: 45px; background-color: transparent; border: 1px solid #818186; }
.map button:hover { background-color: #898282; border: #898282; color: white; }
.map button:active { background-color: #776969; border: #776969; color: white; }

.map__info { position: absolute; bottom: 0; left: 0; width: 430px; height: 190px; color: white; }
@media only screen and (max-width: 320px) { .map__info { width: 260px; } }
.map__info p { font-size: 18px; margin-left: 40px; margin-bottom: 30px; font-family: "Lato-Light", Arial, sans-serif; font-weight: 300; }

.map__info_title { font-size: 28px; margin-left: 40px; margin-bottom: 12px; font-family: "Lato-Light", Arial, sans-serif; font-weight: 300; }

.clear { clear: both; height: 0; }

.pull__right { float: right; }

.pull__left { float: left; }

.take__left { left: 0; }

.gray { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(100%); filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }

.gray_half { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0.5'/></filter></svg>#grayscale"); filter: gray alpha(opacity=50); -webkit-filter: grayscale(50%); }
