

$menu: #1d1d1d
$red: #aa0002
$text: #8b8282
$n: transparent

+font(PFBEAUSANSPRO-THINITAL-webfont, PFBEAUSANSPRO-THINITAL-webfont)
+font(LATO-REGULAR-webfont, LATO-REGULAR-webfont)

+font(latoLight, latoLight)
+font(Helvetica-8-Heavy, Helvetica-8-Heavy)



=l_l
	font-family: "latoLight",  Arial, sans-serif
	font-weight: 300
=l_r
	font-family: "LATO-REGULAR-webfont",  Arial, sans-serif
	font-weight: 400
=l_black
	font-family: "LATO-REGULAR-webfont",  Arial, sans-serif
	font-weight: 800
=os
	font-family: "Open Sans", Arial, sans-serif
	font-weight: 400
=os_l
	font-family: "Open Sans", Arial, sans-serif
	font-weight: 300

=h8h
	font-family: "Helvetica-8-Heavy", Arial, sans-serif
	font-weight: 300

=bsp
	font-family: "PFBEAUSANSPRO-THINITAL-webfont", Arial, sans-serif
	font-style: normal
	font-weight: 300

body
	font-family: "Open Sans", Arial, sans-serif
	font-size: 16px
	line-height: 1.4
	background-color: #F9F7F7
	position: relative
	min-width: 1250px
	width: 100%
	+r(768)
		min-width: 768px
	+r(320)
		min-width: 320px


a
	text-decoration: none

// .layout
// 	position: static
// 	+screen(769, 1268)
// 		position: absolute
// 	+screen(330, 710)
// 		position: absolute
// 	+clr
.out
	position: relative
	width: 1232px
	margin: 0 auto
	z-index: 2
	padding: 0 10px
	+clr
	+r(768)
		width: 680px
	+r(320)
		width: 265px

//  HEADER
.white__bg
	position: absolute
	left: 0
	top: 0
	width: 50%
	height: 93px
	background-color: #FFF
	+r(320)
		top: 53px
		width: 100%
		height: 100px
.gray__bg
	position: absolute
	right: 0
	top: 0
	width: 50%
	height: 93px
	background-color: #898282
	z-index: 1
	+r(320)
		height: 53px
		width: 100%
.header
	position: relative
	z-index: 9999
	+clr
.header__white
	float: left
	position: relative
	width: 920px
	height: 100%
	padding: 25px 0 23px
	background-color: #fff
	z-index: 9
	+r(768)
		width: 347px
		padding: 15px 0
	+r(320)
		bottom: -59px
		width: 280px
		padding-right: 0px
	+clr
.logo
	display: block
	float: left
	+s(logo)
	+r(320)
		+s(logo_320)
		+sr(logo_ret)
h1
	+hidetext

.menu
	position: relative
	display: block
	float: left
	margin: 0 0 0 128px
	font-size: 0
	background-color: #FFF
	+r(768)
		width: 100px
		float: right
		top: -10px
		left: -9px
	+r(320)
		margin-right: -10px
		top: 5px
	span
		display: none
		position: absolute
		top: -22px
		right: 25px
		font-size: 16px
		+l_r
		+r(768)
			display: block
		+r(320)
			top: -33px
	li
		position: relative
		display: inline-block
		height: 37px
		.is-active
			color: $red
		+r(768)
			display: block
		&:hover
			.submenu
				display: block
			&:after
				content: ""
				border: 1px solid #ccc5c5
				border-radius: 4px
				-webkit-transform: skew(-20deg)
				-moz-transform: skew(-20deg)
				-o-transform: skew(-20deg)
				+coverdiv
		+r(768)
			display: block
			&:hover
				.submenu
					display: none
				&:after
					display: none
	&__link
		display: inline-block
		position: relative
		background-color: $n
		font-size: 14px
		color: $menu
		padding: 10px 8px 6px
		text-transform: uppercase
		border: 1px solid $n
		z-index: 99
		+l_black
		&:hover
			color: $red
		+r(768)
			display: block
			font-size: 16px
			text-transform: none
			color: #FFF
			+l_r
			&:hover
				color: $menu
			&:active
				background-color: #544c4c
.has__sub
	position: relative
	&:after
		content: ""
		position: absolute
		bottom: -2px
		right: 30px
		+arr(10, 5, #fff, b)
		z-index: 99
		+r(768)
			display: none
.submenu
	display: none
	position: absolute
	top: 33px
	right: -134px
	background-color: #898282
	padding: 27px 25px
	z-index: 98
	li
		width: 200px
		height: auto
		border-bottom: 1px solid #9B9595
		background-color: #898282
		&:last-child
			border-bottom: 1px solid $n
		&:after
			display: none
		.submenu__link
			display: block
			color: #FFF
			padding-left: 5px
			font-size: 16px
			line-height: 34px
			+l_r
			&:hover
				background-color: #807979
			&:active
				background-color: #544c4c

nav
	float: right
	position: relative
	-webkit-transition: all .5s ease
	&:after
		content: ""
		position: absolute
		bottom: -21px
		right: 72px
		+arr(12, 7, #fff, b)
		+r(320)
			bottom: 4px
	.open &
		opacity: 1
		+r(768)
			opacity: 0
	.close &
		display: block
		opacity: 1
		-webkit-transform: translateX(-20px)
		+max-screen(320)
			-webkit-transform: translateY(20px)
			height: auto
	ul
		position: relative
		right: 0
		top: 4px
		padding: 0
		list-style: none
		+r(768)
			position: absolute
			background-color: #898282
			top: 15px
			width: 200px
			// padding: 25px 25px 20px  04.04
			padding: 15px 20px 15px
		+r(320)
			top: -10px
			right: 25px
		a
			+max-screen(320)
				display: block
				font-size: 16px
				z-index: 9999
.bt-nav
	display: none
	position: absolute
	left: -10px
	top: -30px
	width: 95px
	height: 36px
	cursor: pointer
	z-index: 99999
	+r(768)
		display: block
	+r(320)
		top: -40px
	.open &
		.line1
			top: 15px
		.line3
			top: 23px
	.close &
		.line
			top: 17px
		.line1
			-webkit-transform: rotateZ(45deg)
		.line2
			opacity: 0
		.line3
			-webkit-transform: rotateZ(-45deg)
	.line
		position: absolute
		top: 7px
		left: 16%
		width: 24px
		margin-left: -15px
		height: 3px
		background: #000
		-webkit-transition: all 0.2s ease
		transition: all 0.2s ease
.header__gray
	position: relative
	float: right
	width: 310px
	height: 25px
	padding: 35px 0 28px
	background-color: #898282
	z-index: 9
	+r(768)
		width: 330px
		padding: 25px 0 25px
	+r(320)
		top: -86px
		padding: 36px 0 13px
	+clr
// .top_320
// 	top: 0
// 	+r(320)
// 		display: block
// 		position: absolute
// 		top: -86px
.tel
	position: relative
	float: left
	color: #fff
	margin-left: 65px
	font-size: 14px
	line-height: 25px
	+l_black
	+r(320)
		margin-left: 80px
	&:before
		content: ""
		position: absolute
		top: 4px
		left: -25px
		+s(tel)
		+sr(tel_r)
.lang
	float: right
	+r(768)
		margin-right: 20px
	+r(320)
		margin-right: 5px
	+clr
	li
		display: inline-block
		margin-right: 10px
		&:last-child
			margin-right: 0
		.is-active
			color: #D1CDCD
			&:hover
				border-bottom: 1px solid $n
				font-weight: normal
	a
		color: #fff
		font-size: 14px
		line-height: 25px
		+l_r
		&:hover
			border-bottom: 2px solid #fff
			// font-weight: bold
		&:active
			color: #D1CDCD
			border-bottom: 1px solid #D1CDCD
			// font-weight: bold





// footer


.footer
	+clr
.footer__top
	background-color: #FFF
	height: 100px
	+clr
.social
	float: left
	margin: 43px 0 0 43px
	+r(768)
		margin: 55px 0 0 30px
	+r(320)
		margin: 40px 0 0 20px
	a
		float: left
		width: 15px
		height: 15px
		position: relative
		display: block
		padding: 5px
		margin-right: 18px
		+r(768)
			margin-right: 25px
		&:after
			content: ''
			position: absolute
			left: 10px
	+clr
.soc_f
	&:after
		top: 5px
		+s(f)
		+sr(f_r)
	&:hover
		&:after
			+s(f_h)
			+sr(f_hr)
	&:active
		&:after
			+s(f_a)
			+sr(f_ar)
.soc_vk
	&:after
		top: 6px
		+s(vk)
		+sr(vk_r)
	&:hover
		&:after
			+s(vk_h)
			+sr(vk_hr)
	&:active
		&:after
			+s(vk_a)
			+sr(vk_ar)
.soc_tw
	&:after
		top: 7px
		+s(tw)
		+sr(tw_r)
	&:hover
		&:after
			+s(tw_h)
			+sr(tw_hr)
	&:active
		&:after
			+s(tw_a)
			+sr(tw_ar)
.footer__menu
	float: right
	display: block
	margin: 37px 40px 0 10px
	+r(768)
		margin-top: 85px
		ul
			top: -250px
		nav
			&:after
				display: none
	+r(320)
		width: 50px
		margin-right: -14px
		margin-top: 70px
		span
			display: none
		ul
			top: -285px

	a
		font-size: 12px
		padding: 10px 11px
		+r(768)
			padding: 10px 6px
	li:hover
		.submenu
			display: none
	+clr


.footer nav
	+r(320)
		&:after
			display: none
// .footer__nav
// 	// display: none
// 	+r(320)
// 		display: block
// 		&:after
// 			content: ""
// 			position: absolute
// 			bottom: 65px
// 			right: 72px
// 			+arr(10, 6, #fff, t)
// 		.footer__menu_min
// 			top: -275px
// 			right: 0
// 		.bt-nav
// 			top: -68px
// 			left: 40px
// 			width: 24px
// 			+r(320)
// 				top: 0
// 			.line
// 				left: 65%
.footer__bottom
	height: 130px
	.out
		z-index: 0
	p
		color: #a09998
		font-size: 12px
	+clr
.copy
	float: left
	width: 55%
	letter-spacing: .5px
	margin-top: 52px
	+r(768)
		margin-top: 42px
	+r(320)
		margin-top: 25px
		line-height: 20px
		width: 100%
	p
		float: left
		margin-right: 5px
.made
	float: right
	color: #a09998
	font-size: 12px
	line-height: 20px
	margin-top: 52px
	+r(768)
		margin-top: 42px
	+r(320)
		float: left
		margin-top: 10px
		width: 100%
	&:hover
		color: #970002
	&:active
		color: #770002
