.event
	+clr
.event__title
	display: inline-block
	float: left
.event__wrap
	float: right
	line-height: 230px
	+clr
	.btn
		color: #898282
		font-size: 11px
		background-color: $n
		border-color: #e6e1e0
		margin-left: 3px
		+l_l
		&:hover
			background-color: #f5f1f1
			border-color: #ddd6d5
		&:active
			background-color: #f5f1f1
			border-color: #ddd6d5
	.is-active
		color: #191919
		background-color: #f5f1f1
		+l_black
.col
	width: 600px
	+clr
.col_1
	float: left
.col_2
	float: right
