.event
	+clr
	+r(768)
		width: 768px
	+r(320)
		width: 320px
.event__title
	display: inline-block
	float: left
	+r(320)
		line-height: 50px
		margin-top: 20px
.event__wrap
	float: right
	line-height: 230px
	+clr
	+r(768)
		line-height: 160px
	+r(320)
		line-height: 50px
		float: left
		margin-bottom: 20px
	.btn
		color: #898282
		font-size: 11px
		background-color: $n
		border-color: #e6e1e0
		margin-left: 3px
		+l_l
		&:hover
			background-color: #f5f1f1
			border-color: #ddd6d5
		&:active
			background-color: #f5f1f1
			border-color: #ddd6d5
	.is-active
		color: #191919
		background-color: #f5f1f1
		+l_black
.col
	width: 1232px
	+clr
	+r(768)
		width: 100%
.new
	text-align: left
	width: 600px
	float: right
	background-color: #FFF
	margin-bottom: 30px
	+clr
	+r(768)
		width: 100%
	&:nth-child(odd)
		margin-right: 30px
		float: left
		+r(768)
			margin-right: 0
	.date
		margin: 40px 0 0 40px
		+r(320)
			margin: 20px 0 0 20px
	&__img
		position: relative
		display: block
		overflow: hidden
		// margin-bottom: 30px
		+r(320)
			overflow: visible
		&:hover
			.new__img_wrap:before
				-webkit-box-shadow: inset 600px 600px rgba(77, 77, 77, .2)
				box-shadow: inset  600px 600px rgba(77, 77, 77, .2)
			.date
				display: none
		&:active
			.new__img_wrap:before
				-webkit-box-shadow: inset 600px 600px rgba(77, 77, 77, .6)
				box-shadow: inset  600px 600px rgba(77, 77, 77, .6)
	&__img_wrap
		position: relative
		width: 100%
		height: auto
		font-size: 0
		img
			width: 100%
			height: auto
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			bottom: 0
			width: 100%
	&__img_mask
		position: absolute
		bottom: 40px
		left: 40px
		+r(320)
			bottom: -75px
			left: 20px
		p
			display: inline-block
			position: relative
			color: #FFF
			font-size: 26px
			line-height: 35px
			background-color: $red
			padding: 0 3px
			margin-bottom: 3px
			+l_l
			+r(320)
				font-size: 18px
				line-height: 20px
				margin-bottom: 1px
			&:after
				content: ""
				position: absolute
				right: -8px
				top: 0
				bottom: 0
				width: 0
				height: 0
				border-style: solid
				border-width: 35px 8px 0 0
				border-color: #aa0002 transparent transparent transparent
				+r(320)
				border-width: 20px 8px 0 0
		.date
			margin: 0
	h2
		font-size: 26px
		color: #191919
		margin: 0 70px 0 40px
		+l_l
		+r(320)
			font-size: 18px
			margin: 0 20px
	&__contant
		margin: 25px 70px 40px 40px
		+r(320)
			margin: 25px 20px 20px
		p
			font-size: 16px
			line-height: 25px
			color: #8B8282
			+os
	.btn
		color: #191919
		margin-top: 40px
		position: relative
		padding: 15px 20px 15px 40px
		+r(320)
			width: 100%
			margin-left: 0
			i
				left: 40px
		&:hover
			background-color: #f5f1f1
.new > .new__img
	+r(320)
		margin-bottom: 70px
p.date
	display: block
	background-color: $n
	color: #898282
	font-size: 12px
	line-height: 26px
	+l_r
	&:after
		content: none
.pointer__plus
	@extend .pointer__down
	+s(pl)

.more__new
	margin: 85px auto 40px
	text-align: center
	+r(320)
		margin: 50px auto 60px
	.btn
		position: relative
		margin: 0 0 10px
		color: #191919
		padding: 15px 20px 15px 40px
		z-index: 9999
		&:hover
			background-color: #f5f1f1
		+r(320)
			width: 225px
.n_plus
	display: block
	margin: 10px auto
	+s(n_plus)
	&:nth-child(3)
		opacity: .6
	&:nth-child(4)
		opacity: .4