// default layout



.slider
	position: relative
	margin: 0 0 72px
	height: 545px
	+r(768)
		height: 460px
		margin-bottom: 55px
	+r(650)
		height: 310px
		margin-bottom: 35px
	+clr

.slider .cycle-slideshow
	height: 540px
	+r(768)
		height: 460px
	+r(650)
		width: 100%
		height: 310px
.big-slider__item
	position: static
	top: 0
	left: 0
	width: 100%
	z-index: 100
	+opacity(1)
	visibility: hidden
	display: block
	height: 540px
	.big-slider__img
		position: absolute // .big-slider__img
		top: 0
		left: 0
		right: 0
		max-height: 540px
		height: 540px
		+r(650)
			height: 310px
		img
			height: 540px
			width: 100%
			+r(650)
				height: 310px
.nav_page
	position: absolute
	display: block
	width: 300px
	bottom: 40px
	left: 50%
	text-align: center
	margin-left: -150px
	z-index: 999
	+r(650)
		bottom: 20px
	button
		width: 12px
		height: 12px
		border-radius: 50%
		background-color: #fff
		+opacity(0.8)
		margin-left: 15px
		&:hover
			+scale(1.2)
	.is-active
		width: 14px
		height: 14px
		background-color: transparent
		border: 1px solid $text
		&:hover
			+scale(1)
	+clr
.slider__content
	padding-top: 85px
	+r(768)
		padding-top: 79px
	+r(650)
		padding-top: 62px
	h2
		font-size: 101px //.slider__title
		color: #FFF
		line-height: 104px
		margin: 0px 0 60px
		+h8h
		+r(768)
			font-size: 78px
			line-height: 85px
			margin: 0px 0 45px
		+r(650)
			font-size: 30px
			line-height: 30px
			margin: 0px 0 30px
	p
		position: relative //.slider__content
		display: inline-block
		color: #FFF
		margin-bottom: 6px
		line-height: 33px
		padding: 0 10px
		background-color: $red
		font-size: 24px
		+bsp
		+r(650)
			font-size: 18px
		&:after
			content: ""
			position: absolute
			right: -7px
			top: 0
			bottom: 0
			width: 0
			height: 0
			border-style: solid
			border-width: 32px 8px 0 0
			border-color: $red transparent transparent transparent

.service
	margin-bottom: 70px
	+r(768)
		margin-bottom: 40px
	+clr

.good
	display: block
	width: 50%
	float: left
	position: relative
	max-height: 275px
	background-color: #FFF
	overflow: hidden
	+r(768)
		width: 100%
	+r(650)
		width: 320px
	+clr
	&:hover
		.good__item
			+opacity(0)
			z-index: 9
			+r(650)
				+opacity(1)
				-webkit-transform: scale(1) rotate(0deg)
				-moz-transform: scale(1) rotate(0deg)
				-o-transform: scale(1) rotate(0deg)
				-ms-transform: scale(1) rotate(0deg)
				transform: scale(1) rotate(0deg)
		.mask
			+opacity(1)
			z-index: 10
			+r(650)
				display: none
		.good__img
			overflow: hidden
			img
				-webkit-transform: scale(1.1, 1.1)
				-moz-transform: scale(1.1, 1.1)
				-ms-transform: scale(1.1, 1.1)
				-o-transform: scale(1.1, 1.1)
				transform: scale(1.1, 1.1)
				+gray-zero
				-webkit-transition: all 0.2s
				-moz-transition: all 0.2s
				-o-transition: all 0.2s
				-ms-transition: all 0.2s
				transition: all 0.2s
			&:after
				+arr(8, 16, $red ,l)
				+r(650)
					display: none
		.mask + .good__img
			&:after
				+arr(8, 16, $red ,r)
				+r(650)
					display: none
	&:active
		+r(650)
			background-color: #D6D3D3
			-webkit-transition: all 0s ease-in
			-moz-transition: all 0s ease-in
			-o-transition: all 0s ease-in
			-ms-transition: all 0s ease-in
			transition: all 0s ease-in
.top__cut
	+r(768)
		top: 275px
		&:after
			display: none
	+r(650)
		top: 0
		&:after
			display: none
	&:after
		content: ""
		position: absolute
		top: 0
		right: 0
		width: 0
		height: 0
		border-style: solid
		border-width: 0 61px 72px 0
		border-color: transparent #f9f7f7 transparent transparent
.top__cut_small
	&:after
		display: none
	+r(768)
		&:after
			content: ""
			display: block
			position: absolute
			top: 0
			right: 0
			width: 0
			height: 0
			border-style: solid
			border-width: 0 61px 72px 0
			border-color: transparent #f9f7f7 transparent transparent
	+r(650)
		&:after
			display: none

.bottom__cut
	+r(768)
		top: -275px
		&:after
			display: none
	+r(650)
		top: 0
		&:after
			display: none
	&:after
		content: ""
		position: absolute
		bottom: 0
		left: 0
		width: 0
		height: 0
		border-style: solid
		border-width: 72px 0 0 61px
		border-color: transparent transparent transparent #f9f7f7
.bottom__cut_small
	&:after
		display: none
	+r(768)
		&:after
			content: ""
			display: block
			position: absolute
			bottom: 0
			left: 0
			width: 0
			height: 0
			border-style: solid
			border-width: 72px 0 0 61px
			border-color: transparent transparent transparent #f9f7f7
	+r(650)
		&:after
			display: none
.good__img
	position: relative
	float: left
	height: 275px
	width: 50%
	+r(768)
		max-width: 340px//50%
		width: 343px
	+r(650)
		display: none
	> img
		height: 275px
		width: 100%
		+gray
	&:after
		content: ""
		position: absolute
		top: 45px
		right: 0px
		+arr(8, 16, #fff ,l)
.good__item
	display: block
	float: left
	width: 50%
	position: relative
	-webkit-box-sizing: content-box
	-moz-box-sizing: content-box
	box-sizing: content-box
	vertical-align: top
	height: 275px
	background-color: #fff
	// +r(768)
	// 	width: 340px
	a
		display: block
	+r(650)
		width: 100%
		height: 108px
		border-bottom: 1px solid #f9f7f7
	+clr
	h3
		color: $red //.good__item_title
		margin: 40px 60px 20px 40px //del
		font-size: 16px
		line-height: 24px
		text-transform: uppercase
		-webkit-transition: all 0.4s ease-in-out 0.2s
		-moz-transition: all 0.4s ease-in-out 0.2s
		-o-transition: all 0.4s ease-in-out 0.2s
		-ms-transition: all 0.4s ease-in-out 0.2s
		transition: all 0.4s ease-in-out 0.2s
		+opacity(1)
		+l_black
		+r(768)
			margin-right: 85px
		+r(650)
			margin: 30px 20px 0 30px
			line-height: 27px
	p
		font-size: 16px//.good__item_content
		line-height: 24px
		color: $text
		margin: 0 42px
		-webkit-hyphens: auto
		-moz-hyphens: auto
		hyphens: auto
		+os
		+r(650)
			display: none
	span
		position: absolute//.good__more
		bottom: 24px
		right: 22px
		width: 45px
		height: 45px
		border-radius: 50%
		background-color: #f1efef
		+r(650)
			display: none
		&:after
			content: ""
			position: absolute
			top: 50%
			left: 50%
			margin: -3px 0 0 -3px
			+s(bird)

.mask
	position: absolute
	top: 0
	left: 50%
	width: 50%
	height: 100%
	overflow: hidden
	background-color: $red
	color: #FFF
	+opacity(0)
	+r(650)
		display: none
	p
		margin: 39px
		font-size: 14px
		+os_l
.btn
	background-color: $red
	border: 1px solid #bb6a70
	margin-left: 40px
	padding: 15px 20px
	color: #FFF
	text-transform: uppercase
	font-size: 12px
	+l_black
	&:hover
		background-color: #FFF
		color: red
	&:active
		background-color: #ECD8D8
.mask + .good__img
	&:after
		content: ""
		position: absolute
		top: 45px
		left: 0px
		+arr(8, 16, #fff ,r)

.partner
	margin-bottom: 60px
.partner__item
	width: 615px
	height: 440px
	float: left
	background-color: #FFF
	overflow: hidden
	+r(768)
		width: 680px
	+r(650)
		width: 320px
	.btn
		position: relative
		float: right
		background-color: #FFF
		font-size: 11px
		color: #191919
		border: 1px solid #E9E5E4
		padding-left: 40px
		margin-right: 100px
		+l_black
		+r(768)
			margin-right: 127px
		+r(650)
			width: 200px
			margin-left: 30px
			float: none
		&:after
			content: ""
			position: absolute
			top: 18px
			left: 20px
			+s(pl)
			+sr(pl_r)
		&:hover
			background-color: #f9f7f7
			border-color: #dbd7d6
		&:active
			background-color: #f1efef
			border-color: #dbd7d6
	+clr
.partner__item + .partner__item
	+r(768)
		margin-top: 35px
.partner__item_wrap
	margin-bottom: 5px
	+r(768)
		margin-bottom: 0
	+clr
.partner__col
	width: 230px
	float: left
	margin: 45px 40px 0 35px
	+r(768)
		width: 261px
		margin-right: 39px
	+r(650)
		margin: 40px 20px 40px 20px
		&:last-child
			display: none
	&:first-child
		margin-left: 40px
		margin-top: 40px
		+r(768)
			margin-left: 44px
			margin-top: 50px
		+r(650)
			margin-left: 30px
	p
		font-size: 16px
		line-height: 24px
		color: $text
		+os
		+r(768)
			line-height: 23px
	h3
		font-size: 26px
		line-height: 34px
		margin-bottom: 30px
		color: #191919
		+l_l
.partner__item_img
	float: left
	position: relative
	height: 440px
	width: 307px
	overflow: hidden
	+r(768)
		width: 50%
	+r(650)
		display: none
	img
		height: 440px
		width: 100%
	&:hover
		.partner__container
			background-color: $red
			&:before
				background-color: transparent
				border-color: transparent transparent $red transparent
	&:active
		.partner__container
			background-color: #8f0002
			&:before
				border-color: transparent transparent #8f0002 transparent
.partner__container
	position: absolute
	bottom: 30px
	left: 32px
	width: 205px
	height: 70px
	padding: 0px 0px 25px 38px
	color: #FFF
	background-color: rgba(169, 0, 1, .71)//  цвет такй же как и с 339
	+r(768)
		width: 236px
		height: 70px
	p
		margin-right: 20px
		font-size: 25px
		line-height: 37px
		+l_l
	&:before
		content: ""
		position: absolute
		top: -57px
		right: 0px
		width: 176px
		height: 0px
		border-style: solid
		border-width: 0px 67px 58px 0px
		border-color: transparent transparent rgba(169, 0, 1, 0.71) transparent //  цвет такй же как и с 329
	&:after
		content: ""
		position: absolute
		top: -18px
		left: 38px
		width: 15px
		height: 1px
		background: #FFF
	+r(768)
		margin-right: 30px
		&:before
			width: 207px

.award
	width: 50%
	height: 440px
	float: right
	background-color: #F1EFEF
	+clr
	+r(650)
		width: 100%
	h3
		font-size: 28px
		+l_l
	&__cup
		width: 100%
		float: left
		height: 165px
		text-align: center
		+clr
		img
			margin: 45px 0 10px
	&__wrap
		width: 100%
		float: right
		background-color: #F1EFEF
		+clr
		+r(650)
			width: 320px
		a
			position: relative//&_link
			float: left
			width: 153px
			height: 142px
			text-align: center
			background-color: #fff
			border-bottom: 1px solid #E0E5E9
			border-right: 1px solid #E0E5E9
			margin-left: -1px
			+r(768)
				width: 169px
			+r(650)
				width: 159px
			&:nth-child(even)
				margin-left: 0
				border-right: 1px solid #fff
			img
				+vcenter
.coin
	position: relative
	height: 129px
	&:before
		content: ""
		position: absolute
		top: 35px
		right: 20px
		+s(coin_bg)
		+sr(coin_bg_r)
	+r(768)
		&:before
			top: 41px
	+r(650)
		&:before
			right: 16px
			top: 45px
			+s(coin_bg_320)
.diploma
	position: relative
	height: 145px
	&:before
		content: ""
		position: absolute
		top: 30px
		right: 3px
		+s(diploma_bg)
		+sr(diploma_bg_r)
	+r(768)
		&:before
			right: 12px
	+r(650)
		&:before
			right: 16px
			top: 27px
			+s(diploma_bg_320)

.client
	width: 500px
	float: left
	font-size: 28px
	line-height: 28px
	+l_l
	+r(650)
		width: 280px
		margin-bottom: 30px
#pager
	float: right
	width: 80px
	margin: 0 -9px 30px 0
	+r(650)
		display: none
	a
		display: inline-block
		position: relative
		background-color: #fff
		width: 30px
		height: 30px
		border-radius: 50%
		border: 1px solid #ded8d7
		&:before
			content: ""
			+vcenter
		&:hover
			background-color: #AA0002
		&:active
			background-color: #9b0002
.page__back
	&:before
		+s(bird_l)
	&:hover
		&:before
			+s(bird_lh)
	&:active
		&:before
			+s(bird_lh)
.page__next
	&:before
		+s(bird)
	&:hover
		&:before
			+s(bird_h)
	&:active
		&:before
			+s(bird_h)




.cycle-slideshow
	background-color: #fff
	margin-bottom: 60px
	+r(650)
		margin-bottom: 40px
		width: 320px
	.client__slide
		position: relative
		display: inline-block
		vertical-align: top
		width: 153px
		background-color: #FFF
		border-right: 1px solid #eee
		a
			display: block
			height: 136px
			+r(650)
				height: 100px
			img
				position: relative
				top: 50%
				left: 50%
				+translate(-50%,-50%)

.map
	position: relative
	height: 439px
	// width: 300px
	margin-bottom: 40px
	&:after
		content: ""
		position: absolute
		bottom: -1px
		right: 10px
		width: 0
		height: 0
		border-style: solid
		border-width: 0 0 73px 77px
		border-color: transparent transparent #fff transparent
	+r(650)
		width: 300px
		padding: 0
		left: 15px
		&:after
			display: none
	img
		height: 439px
		width: 100%
		max-width: 100%
	button
		width: 155px
		height: 41px
		padding: 0
		margin-left: 52px
		background-color: $n
		border: 1px solid #818186
		&:hover
			background-color: #898282
			border: #898282
			color: #fff
		&:active
			background-color: #776969
			border: #776969
			color: #fff
.map__info
	position: absolute
	bottom: 0
	left: 0
	width: 430px
	height: 190px
	color: #FFF
	+r(650)
		width: 260px
	p
		font-size: 18px
		margin-left: 52px
		margin-bottom: 30px
		letter-spacing: 1px
		+l_l
	h3
		font-size: 28px
		margin-left: 52px
		margin-bottom: 12px
		+l_l
