// Normally mainpage styles


.clear
	clear: both
	height: 0
.pull__right
	float: right
.pull__left
	float: left
.take__left
	left: 0
.gray
	+gray
.gray_half
	+gray-half



// -------------------------------------------


// .menu
// 	position: relative
// 	display: block
// 	float: left
// 	margin: 0 0 0 108px
// 	font-size: 0
// 	background-color: #FFF
// 	+r(768)
// 		width: 100px
// 		float: right
// 		top: -10px
// 	+r(320)
// 		margin-right: -10px
// 	span
// 		display: none
// 		position: absolute
// 		top: -25px
// 		right: 25px
// 		font-size: 16px
// 		+l_r
// 		+r(768)
// 			display: block
// 		+r(320)
// 			top: -33px
// 	li
// 		position: relative
// 		display: inline-block
// 		height: 37px
// 		+r(768)
// 			display: block
// 		&:hover
// 			.submenu
// 				display: block
// 			&:after
// 				content: ""
// 				border: 1px solid #ccc5c5
// 				border-radius: 4px
// 				-webkit-transform: skew(-20deg)
// 				-moz-transform: skew(-20deg)
// 				-o-transform: skew(-20deg)
// 				+coverdiv
// 		+r(768)
// 			display: block
// 			&:hover
// 				.submenu
// 					display: none
// 				&:after
// 					display: none
// 	&__link
// 		display: inline-block
// 		position: relative
// 		background-color: $n
// 		font-size: 14px
// 		color: $menu
// 		padding: 10px 8px 6px
// 		text-transform: uppercase
// 		border: 1px solid $n
// 		z-index: 99
// 		+l_black
// 		&:hover
// 			color: $red
// 		+r(768)
// 			display: block
// 			&:hover
// 				color: $menu
// 			&:active
// 				background-color: #544c4c
// .has__sub
// 	position: relative
// 	&:after
// 		content: ""
// 		position: absolute
// 		bottom: -2px
// 		right: 30px
// 		+arr(10, 5, #fff, b)
// 		z-index: 99
// 		+r(768)
// 			display: none
// .submenu
// 	display: none
// 	position: absolute
// 	top: 33px
// 	right: -134px
// 	background-color: #898282
// 	padding: 27px 25px
// 	z-index: 98
// 	li
// 		width: 200px
// 		height: auto
// 		border-bottom: 1px solid #9B9595
// 		background-color: #898282
// 		&:last-child
// 			border-bottom: 1px solid $n
// 		&:after
// 			display: none
// 		.submenu__link
// 			display: block
// 			color: #FFF
// 			padding-left: 5px
// 			font-size: 16px
// 			line-height: 24px
// 			+l_r
// 			&:hover
// 				background-color: #807979
// 			&:active
// 				background-color: #544c4c



























// .nav
	// display: block
	// width: auto
	// height: auto
	// margin: 0 0 0 108px
	// float: left
	// +r(768)
	// 	width: 100px
	// 	float: right
	// span
	// 	display: none
	// 	+r(768)
	// 		position: absolute
	// 		display: block
	// 		top: -25px
	// 		right: 25px
	// 		font-size: 16px
	// 		+l_r
// nav
// 	ul
		// position: relative
		// right: 0
		// top: 4px
		// height: auto
		// width: auto
		// padding: 0
// 		+r(768)
// 			position: absolute
// 			background-color: #898282
// 			right: 0
// 			top: 15px
// 			width: 200px
// 			padding: 25px 25px 20px
// 			list-style: none
// 		li
// 			display: inline-block
// 			+r(768)
// 				display: block
// 				&:after
// 					display: none


// .open nav
// 	opacity: 1
// 	+r(768)
// 		opacity: 0
// .close nav
// 	opacity: 1
// .bt-nav
// 	display: none
// 	+r(768)
// 		display: block








































































































































































































